

header {
background-image: linear-gradient(to right, #000000 , #ffffff);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
/* logo */
 a img {
  float: left;

}


.mobile {
  display: inline;
}


.desktop {
  display: none;
}



nav {
  float:right;
  width: 23%;
  height: 300px;
  background: #ffffff;
  padding: 20px;
}
header h2 {
  text-align: center;
}
header p{

  text-align:center;
}

nav ul {
  /* background:#000000; */
  list-style-type: none;
  padding: 40px;
}
a{
  color: #000000;
  text-decoration: none;
 }

nav ul li{

  padding: 15px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #ffffff;
  height: 300px;
  }

  article a img{
      box-shadow: 1em 1em 1em #4c4f4d;
  }


section:after {
background:#000000;
  content: "";
  display: table;
  clear: both;
}


footer {
  height: 50px;
  background-color: #000000;
  padding: 10px;
  text-align: center;
  color: white;
}
/*  */

@media only screen and (min-width: 685px){

nav li{
  display: inline;
  float: left;
  margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    width: 18%;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;


}

main {
    clear: left;
    /* margin-top: 4em; */
    border-radius: 0;
    overflow: auto;
  }

  /* styles for h1 */
  h1 {
    text-align: center;
  }

  /* styles for images in figure */
  figure img {
    background-color: #1d1d1c;
    display: inline;
    height: 8em;
    width: 28%;
    margin: 1%;
    padding: 1%
  }

  /* styles for the anchor tag in the figure */
  figure a {
    padding: 0;
    background-color: transparent;
    text-decoration: none;
  }

  /* styles for the mobiole class */
  .mobile {
    display: none;
  }

  /* sektop styles */
  .desktop {
    display: inline;
  }

  /* styles for the eqiup class */
  .equip {
    display: inline;
    float: left;
    margin-right: 1.5em;
  }
  section {
    padding-bottom: 3em;
  }

  /* styles for teh h1 in teh section */
  section h1 {
    text-align: left;
  }

  /* styles for teh anchor tag inside section */
  section a {
    background-color: transparent;
    color: #1d1d1c;
    font-weight: normal;
    padding: 0;
    text-decoration: underline;
  }



}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
